/* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */

.bgnew {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.splash-content header {
    color: #fff;
    font-weight: 900;
    font-size: 2.925em;
    margin-bottom: 3%;
    text-shadow: 2px 3px 0px #898999;
}

section > div.row {
  margin-left: 0px;
  margin-right: 0px;
}

section h3 {
  margin-top: 0px;
}

.container {
  padding: 0;
  margin: 0;
}

.site-footer {
  padding: 2em 0;
  text-align:center;
}

.site-footer p {
  color: inherit;
  font-size: 0.8em;
  color: #c4c4c4;
}

#metadata div.row {
  margin-bottom: 0.8em;
}

#metadata .row > div:first-child label {
    display: block;
    text-align: right;
    margin-top: 0.3em;
}
 
@media (max-width: 767px) {
    #metadata .row > div.col-md-3:first-child label {
        margin-top: 0.5em;
        display: block;
        text-align: left;
    }
}


#metadata input[type=text].form-control, #metadata textarea.form-control {
  width: 80%;
}

#metadata .checkbox input[type=checkbox],
#metadata .checkbox-inline input[type=checkbox],
#metadata .radio input[type=radio],
#metadata .radio-inline input[type=radio] {
  margin-top: 7px;
}

#metadata select.form-control {
  width: 200px;
}

#metadata textarea.form-control {
  min-height: 50px;
}

#metadata button {
  margin: 1em 1em 1em 0;
}

#metadata button i {
    display: inline-block;
    margin-right: 6px;
}

#metadata li {
  padding-left: 1em;
  font-size: 0.8em;
}

#metadata ol ol {
  padding-left: 2em;
  font-size: 1.2em;
}

#metadata ol ol > li {
  list-style-type: lower-roman;
}

#metadata p {
  font-size: 0.9em;
  padding: 0.6em;
}

.container_iframe .bg-info {
  background-color: rgba(117,202,235, 0.6);
}

.container_iframe .bg-info p {
  color: #333;
}

/*// Multi email //////////////////////*/

.form-inline .multi-container span.multi-item {
  float: left;
  border: 1px solid #ccc;
  margin: 2px 5px 2px 0px;
  background: #f5f5f5;
  padding: 2px 3px 2px 8px;
  border-radius: .25em;
}

.form-inline .multi-container span.multi-item.wrong {
  border-color: #580e0e;
  color: #580e0e;
  background-color: #f5bdbd;
}

.form-inline .multi-container span.multi-item:first-child {
  margin-left: 0px;
}

.form-inline .multi-container span.multi-item-cancel {
  /*border: 1px solid #aaa;*/
  width: 30px;
  display: block;
  float: right;
  text-align: center;
  margin-left: 5px;
  /* border-radius: 49%; */
  border-radius: .25em;
  height: 26px;
  line-height: 26px;
  /* margin-top: 1px; */
  cursor: pointer;
  font-size: 80%;
}

.form-inline .multi-container span.multi-item-cancel .fa-times {
  line-height: inherit;
}

.form-inline .multi-container span.multi-item-cancel:hover,
.form-inline .multi-container span.multi-item-cancel:active {
  background-color: #e5e5e5;
}

.form-inline .multi-container .wrong span.multi-item-cancel:hover,
.form-inline .multi-container .wrong span.multi-item-cancel:active {
  background-color: #f1a7a7;
}

.form-inline .multi-container .email-id-row {
  border: 1px solid #ccc;
}

.form-inline .multi-container span.to-input {
  display: block;
  float: left;
  padding-right: 11px;
}

.form-inline .multi-container .email-id-row {
  padding-top: 6px;
  padding-bottom: 7px;
}

.form-inline input.multi-input[type=text] {
  margin-right: 0px;
  width: 60%;
}

.row .pre {
  min-height: 100px;
  max-height: 400px;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: scroll;
}

.row .workflow h4 > span { 
  text-transform: capitalize;
  font-size: 84%;
}

.row #btn_add_me {
  top: 1px;
  position: relative;
  margin: 0px;
}

.row #add_sites {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 14vh;
  padding: 8px;
}

.row a.site {
  display: block;  
  padding: 5px;
  border-radius: 8px;
}

.row a.site:hover, .row a.site:active {
  background-color: #ddd;
}

.row a.site span{
  font-size: 80%;
  display: block;
}

.row .site span.title {

}

.row .site span.site_id {
  
}

.row .site span.state {
  
}