/* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
.bgnew {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.splash-content header {
  color: #fff;
  font-weight: 900;
  font-size: 2.925em;
  margin-bottom: 3%;
  text-shadow: 2px 3px 0px #898999;
}

section {
  padding-bottom: 30px;
}
section > div.row, section > form > div.row {
  margin-left: 0px;
  margin-right: 0px;
}
section h1 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #20376b;
  position: relative;
}
section h1 span {
  font-weight: normal;
}
section h1:after {
  content: "Course \aMigration Process";
  white-space: pre;
  color: #20376b;
  border-left: 2px solid #f1685c;
  font-size: 1rem;
  display: block;
  line-height: 1.3rem;
  padding-left: 10px;
  position: absolute;
  top: 20%;
  right: 0%;
}
section h3 {
  color: #20376b;
  margin-top: 0px;
}

form#metadata div.row {
  margin-bottom: 0.8em;
}
form#metadata label {
  display: block;
}
form#metadata label small {
  color: #aaa;
  font-weight: normal;
  padding-left: 8px;
}
form#metadata input[type=text].form-control,
form#metadata textarea.form-control {
  width: 80%;
}
form#metadata .checkbox input[type=checkbox],
form#metadata .checkbox-inline input[type=checkbox],
form#metadata .radio input[type=radio],
form#metadata .radio-inline input[type=radio] {
  margin-top: 7px;
}
form#metadata select.form-control {
  width: 200px;
}
form#metadata textarea.form-control {
  min-height: 50px;
}
form#metadata button i {
  display: inline-block;
  margin-right: 6px;
}
form#metadata li {
  font-size: 1.15em;
}
form#metadata ol ol {
  padding-left: 2em;
  font-size: 1.2em;
}
form#metadata ol ol > li {
  list-style-type: lower-roman;
}
form#metadata p {
  font-size: 0.9em;
  padding: 0.6em;
}
form#metadata button {
  margin: 1em 1em 1em 0;
}

@media (max-width: 767px) {
  #metadata .row > div.col-md-3:first-child label {
    margin-top: 0.5em;
    display: block;
    text-align: left;
  }
}
.container_iframe .bg-info {
  background-color: rgba(117, 202, 235, 0.6);
}
.container_iframe .bg-info p {
  color: #333;
}

/*// Multi email //////////////////////*/
.form-inline .multi-container span.multi-item {
  float: left;
  border: 1px solid #ccc;
  margin: 2px 5px 2px 0px;
  background: #f5f5f5;
  padding: 2px 3px 2px 8px;
  border-radius: 0.25em;
}
.form-inline .multi-container span.multi-item.wrong {
  border-color: #580e0e;
  color: #580e0e;
  background-color: #f5bdbd;
}
.form-inline .multi-container span.multi-item.wrong span.multi-item-cancel:hover,
.form-inline .multi-container span.multi-item.wrong span.multi-item-cancel:active {
  background-color: #f1a7a7;
}
.form-inline .multi-container span.multi-item:first-child {
  margin-left: 0px;
}
.form-inline .multi-container span.multi-item-cancel {
  /*border: 1px solid #aaa;*/
  width: 30px;
  display: block;
  float: right;
  text-align: center;
  margin-left: 5px;
  /* border-radius: 49%; */
  border-radius: 0.25em;
  height: 26px;
  line-height: 26px;
  /* margin-top: 1px; */
  cursor: pointer;
  font-size: 80%;
}
.form-inline .multi-container span.multi-item-cancel:hover, .form-inline .multi-container span.multi-item-cancel:active {
  background-color: #e5e5e5;
}
.form-inline .multi-container span.multi-item-cancel .fa-times {
  line-height: inherit;
}
.form-inline .multi-container .email-id-row {
  border: 1px solid #ccc;
}
.form-inline .multi-container span.to-input {
  display: block;
  float: left;
  padding-right: 11px;
}
.form-inline .multi-container .email-id-row {
  padding-top: 6px;
  padding-bottom: 7px;
}
.form-inline input.multi-input[type=text] {
  margin-right: 0px;
  width: 60%;
}

.row #pre {
  min-height: 100px;
  max-height: 400px;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0px 0px 4px 4px;
  overflow-y: scroll;
}
.row .workflow h4 > span {
  text-transform: capitalize;
  font-size: 84%;
}
.row #btn_add_me {
  top: 1px;
  position: relative;
  margin: 0px;
}
.row #add_sites {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 140px;
  padding: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.row a.site {
  display: block;
  padding: 5px;
  border-radius: 8px;
  margin-right: 33px;
}
.row a.site:hover, .row a.site:active {
  background-color: #ddd;
}
.row a.site span {
  font-size: 80%;
  display: block;
}
.row .progress-container {
  display: block;
  height: 2px;
  background-color: #eaeaea;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
.row .progress-container > .progress {
  display: block;
  background-color: #333;
  height: 2px;
  width: 0%;
}
.row #stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-bottom: 4px;
}
.row #stats > li > a {
  padding: 2px 5px;
  font-size: 80%;
}
.row .footer {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}
.row .footer a {
  font-weight: bold;
}
.row .migrate-progress {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
}
.row .migrate-progress .vula, .row .migrate-progress .amathuba {
  position: relative;
  border-radius: 8px;
  padding: 160px 0.4rem 0.4rem;
}
.row .migrate-progress .vula > div, .row .migrate-progress .amathuba > div {
  position: relative;
  border-radius: 8px;
}
.row .migrate-progress .vula > div:before, .row .migrate-progress .amathuba > div:before {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  content: attr(data-step);
  font-size: 3.6rem;
  text-align: center;
  position: relative;
  display: block;
  font-weight: bold;
  top: -18px;
}
.row .migrate-progress .vula > div:after, .row .migrate-progress .amathuba > div:after {
  content: "";
  background-color: #0f476a;
  background-image: url(../img/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 18px;
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  z-index: 100;
  top: -8%;
  right: -12%;
}
.row .migrate-progress .vula > div > .title, .row .migrate-progress .amathuba > div > .title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border-radius: 8px 8px 0px 0px;
  height: 90px;
  text-align: center;
  font-size: 120%;
  padding: 8px;
}
.row .migrate-progress .vula > div > .title > strong, .row .migrate-progress .amathuba > div > .title > strong {
  display: block;
  font-size: 160%;
  padding: 5px;
}
.row .migrate-progress .vula > div > .desc, .row .migrate-progress .amathuba > div > .desc {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0px 0px 8px 8px;
  text-align: center;
  padding: 8px;
  height: 130px;
}
.row .migrate-progress .vula > div > .desc a, .row .migrate-progress .amathuba > div > .desc a {
  text-align: left !important;
  display: block;
  margin: auto;
  color: #1f2123;
  font-size: 1.1rem;
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cedbe3;
}
.row .migrate-progress .vula > div > .desc a .far, .row .migrate-progress .amathuba > div > .desc a .far {
  float: left;
  font-size: 4rem;
  color: #20376b;
  position: relative;
  top: 10px;
  margin: 0px 16px 20px 0px;
}
.row .migrate-progress .vula > div > .desc a:hover, .row .migrate-progress .vula > div > .desc a:active, .row .migrate-progress .amathuba > div > .desc a:hover, .row .migrate-progress .amathuba > div > .desc a:active {
  border: 1px solid #20376b;
}
.row .migrate-progress .vula > div > .desc .glyphicon, .row .migrate-progress .amathuba > div > .desc .glyphicon {
  font-size: 6rem;
}
.row .migrate-progress .vula > div.disabled .title, .row .migrate-progress .amathuba > div.disabled .title {
  background: #8b8b8b;
  color: #eee;
}
.row .migrate-progress .vula > div.disabled .title:after, .row .migrate-progress .amathuba > div.disabled .title:after {
  background-color: #8b8b8b;
}
.row .migrate-progress .vula > div.disabled .desc, .row .migrate-progress .amathuba > div.disabled .desc {
  background: #cecece;
  color: #888;
}
.row .migrate-progress .vula > div.disabled:before, .row .migrate-progress .amathuba > div.disabled:before {
  color: #8b8b8b;
}
.row .migrate-progress .vula > div.disabled:after, .row .migrate-progress .amathuba > div.disabled:after {
  background-color: #8b8b8b;
}
.row .migrate-progress .vula > div.error .title, .row .migrate-progress .amathuba > div.error .title {
  background: #6b160c;
  color: #fff;
}
.row .migrate-progress .vula > div.error .title strong, .row .migrate-progress .amathuba > div.error .title strong {
  z-index: 100;
  padding-top: 20px;
}
.row .migrate-progress .vula > div.error .title i, .row .migrate-progress .amathuba > div.error .title i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  font-size: 5rem;
  left: 44%;
  z-index: 30;
}
.row .migrate-progress .vula > div.error .title:after, .row .migrate-progress .amathuba > div.error .title:after {
  background-color: #6b160c;
}
.row .migrate-progress .vula > div.error .desc, .row .migrate-progress .amathuba > div.error .desc {
  background: #b59191;
  color: #300;
}
.row .migrate-progress .vula > div.error:before, .row .migrate-progress .amathuba > div.error:before {
  color: #6b160c;
}
.row .migrate-progress .vula > div.error:after, .row .migrate-progress .amathuba > div.error:after {
  background-image: url("../img/cross.svg");
  background-color: #6b160c;
}
.row .migrate-progress .vula {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  border: 1px solid #20376b;
  border-top-left-radius: 0px;
  background-image: url("../img/vula.svg");
  background-repeat: no-repeat;
  background-position: 50% 14px;
  background-size: auto 100px;
}
.row .migrate-progress .vula::before {
  content: "Steps";
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  text-transform: uppercase;
  background-color: #20376b;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 12px 12px 0px 0px;
  padding: 0.2rem 1.3rem;
  position: absolute;
  top: -32px;
  left: -1px;
}
.row .migrate-progress .vula > div:before {
  color: #20376b;
}
.row .migrate-progress .vula > div:after {
  background-color: #20376b;
}
.row .migrate-progress .vula > div:last-child .title:after {
  display: none;
}
.row .migrate-progress .vula .title {
  background-color: #20376b;
  color: #fff;
}
.row .migrate-progress .vula .title:after {
  content: "";
  width: 1px;
  height: 232px;
  background-color: #20376b;
  position: absolute;
  right: -13px;
  top: 20px;
}
.row .migrate-progress .vula .desc {
  background-color: #cedbe3;
}
.row .migrate-progress .amathuba {
  grid-area: 1/2/2/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  border: 1px solid #73c9a6;
  background-image: url("../img/amathuba.svg");
  background-repeat: no-repeat;
  background-position: 50% 14px;
  background-size: auto 100px;
}
.row .migrate-progress .amathuba::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/lines-min.png");
  background-repeat: no-repeat;
  background-size: 40px;
  position: absolute;
  top: -20px;
  left: calc(100% - 52px);
  z-index: 100;
}
.row .migrate-progress .amathuba > div:before {
  color: #73c9a6;
}
.row .migrate-progress .amathuba > div:after {
  background-color: #73c9a6;
}
.row .migrate-progress .amathuba > div:last-child {
  background-image: url("../img/graphic.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 135px;
}
.row .migrate-progress .amathuba > div:last-child .title {
  background: transparent;
}
.row .migrate-progress .amathuba > div:last-child .title:after {
  display: none;
}
.row .migrate-progress .amathuba > div:last-child .desc {
  background: transparent;
}
.row .migrate-progress .amathuba > div:last-child:after {
  display: none;
}
.row .migrate-progress .amathuba > div:only-child {
  background-image: none;
}
.row .migrate-progress .amathuba > div:only-child .title {
  background-color: #73c9a6;
}
.row .migrate-progress .amathuba > div:only-child .desc {
  background-color: #cfede1;
}
.row .migrate-progress .amathuba > div:only-child.disabled .title {
  background: #8b8b8b;
}
.row .migrate-progress .amathuba > div:only-child.disabled .desc {
  background: #cecece;
}
.row .migrate-progress .amathuba .title {
  background-color: #73c9a6;
}
.row .migrate-progress .amathuba .title:after {
  content: "";
  width: 1px;
  height: 232px;
  background-color: #73c9a6;
  position: absolute;
  right: -13px;
  top: 20px;
}
.row .migrate-progress .amathuba .desc {
  background-color: #cfede1;
}
.row .migrate-progress.workflow {
  grid-template-columns: repeat(4, 1fr);
}
.row .migrate-progress.workflow .vula {
  grid-area: 1/1/2/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}
.row .migrate-progress.workflow .amathuba {
  grid-area: 1/4/2/5;
  background-image: url("../img/amathuba_woodmark.svg");
  grid-template-columns: 1fr;
}

#sites > li.active > a.site,
#sites > li.active > a.site:focus,
#sites > li.active > a.site:hover {
  color: #fff;
  background-color: #337ab7;
}

.circle {
  position: absolute;
  left: calc(50% + 3px);
  top: calc(50% - 20px);
  z-index: 100;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  background-color: #53449b;
  border: 5px solid #1d3669;
  position: relative;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}
.circle i {
  position: relative;
  top: 7%;
}