#tools_used #issues_found_list,
#tools_used #tool_used_list,
#issues_found #issues_found_list,
#issues_found #tool_used_list {
    list-style: decimal;
}

#tools_not_used,
#issues_not_found {
    display: none;
}

#tools_not_used #issues_not_found_list,
#tools_not_used #tool_unused_list,
#issues_not_found #issues_not_found_list,
#issues_not_found #tool_unused_list {
    list-style: none;
}

li {
    padding: 0.5em;
}

li.success {
    border-left: 3px solid rgb(5, 129, 61);
    padding: 0.5em;
}

li.failed {
    border-left: 3px solid rgb(158, 0, 8);
}

li.missing {
    background-color: lightgray;
}

li.found {
    background-color: rgba(5, 129, 61, 0.4);
}