<section>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1">
            <h2>Admin <small>(Migrate list of sites)</small></h2>

            <form class="form-inline text-left" method="post" target="_self" id="metadata">
                <div>
                    <textarea id="add_sites" names="add_sites" placeholder="Add Site ID per line ..."></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button id="btnAccept" class="btn btn-success" type="button">
                            <i class="fa fa-check"></i>
                            Add Sites
                        </button>
                    </div>
                    <div class="col-xs-8" id="message"></div>
                </div>
            </form>
            
            {% if ($state != "init") { %}
            <div class="row">
                    <h4>Progress</h4>
                    <div class="col-md-4 col-xs-12">
                        <ul id="sites">
                            {% foreach ($sites as $site) { %}
                            <li>
                                <a href="#" rel="{{ $site['site_id'] }}" data-title="{{ $site['title'] }}" class="site">
                                    {% if (! is_null($site['title'])) { %}
                                        <span class="title">{{ $site['title'] }}</span>
                                    {% } %}
                                    <span class="site_id">{{ $site['site_id'] }}</span>
                                    <span class="state">{{ $site['state'] }}</span>
                                </a>
                            </li>
                            {% } %}
                        </ul>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="pre" style="height: 60vh;"></div>
                    </div>
                </div>
            </div>
            {% } %}             
        </div>
    </div>
</section>