{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">
    jQuery.fn.exists = function(){ return this.length > 0; }

    $(function() {
        var timeout = null;

        function setError(st) {
            $(st).removeClass('text-success text-info').addClass('text-danger').children('i').removeClass('fa-ellipsis-h fa-check').addClass('fa-times');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaved(st) {
            $(st).removeClass('text-success text-info').addClass('text-success').children('i').removeClass('fa-ellipsis-h fa-times').addClass('fa-check');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaving(st) {
            $(st).removeClass('text-success text-danger').addClass('text-info').children('i').removeClass('fa-times fa-check').addClass('fa-ellipsis-h');
        }

        function hideHelp() {
            clearTimeout(timeout);
            $('#info').hide();
        }

        function showError(a) {
            $('#' + a).html('<i class="fa fa-exclamation"></i> Error').addClass('disabled').attr('disabled', true);
            $('#message').html('<p class="bg-danger">An error occurred while performing this action, please contact <a href="mailto:help@vula.uct.ac.za?subject=Vula - Please help with: Lecture Recording Setup">help@vula.uct.ac.za</a><br/> or call 021-650-5500 weekdays 8:30 - 17:00.</p>');
        }

        function doPost(a, text) {
            var sites = $('#add_sites').val().split(/\r?\n/g).filter( (x) => { return x.length  > 2 });

            if (sites.length > 0) {
                $('#' + a).html('<i class="fa fa-cog fa-spin"></i>' + text).addClass('disabled').attr('disabled', true);
                timeout = setTimeout(function(){ $('#info').show(); }, 300);

                var jqxhr = $.post('{{ $submit }}', { "type": 'add_sites', "sites": sites }, function(result) {
                    hideHelp();
                    if (result.success === 1) {
                        $('#' + a).html('<i class="fa fa-check"></i> Refreshing page ...');
                        setTimeout(function() { location.reload(); }, 300);
                    } else {
                        showError(a);
                    }
                }, 'json')
                .fail(function() {
                    hideHelp();
                    showError(a);
                })
                .always(function() {
                    hideHelp();
                });
            }
        }

        function getworkflow(site) {
            var jqxhr = $.getJSON('{{ $fetch_workflow }}', {'type' : 'workflow', 'site' : site }, function(result) {
                const _pre = $('#pre');

                if (result.success === 1) {
                    _pre.html(result.msg.join("<br/>"));
                } else {
                    _pre.html("Could not load workflow for site.");
                }
            })
            .fail(function() {
                $('#pre').html("Could not load workflow for site.");
            });
        }


        $('#btnAccept').click( function(event) {
            event.preventDefault();
            doPost('btnAccept', 'Adding sites ...');
        });

        $('#sites').on('click', 'a.site', function(event) {
            event.preventDefault();
            const _me = $(this),
                  _pre = $('#pre');

            if (!_me.parent().hasClass('active')) {
                _me.parent().siblings().removeClass('active');
                _me.parent().addClass('active');

                _pre.html("Loading ("+ (_me.data('title') ? _me.data('title') +" : " : "" ) + _me.attr('rel') +") ...");
                getworkflow(_me.attr('rel'));
            }
        });
        
        $('#stats > li > a').on('click', function(event) {
            event.preventDefault();
            const _me = $(this),
                  _sites = $('#sites'),
                  _pre = $('#pre');
            
            if (!_me.parent().hasClass('active')) {
                _me.parent().siblings().removeClass('active');
                _me.parent().addClass('active');
                
                _sites.children().removeClass('active');
                _pre.html('');
                if (_me.attr('rel') == 'all') {
                    _sites.children().show();
                } else {
                    _sites.children().hide();
                    _sites.children('[data-state="'+_me.attr('rel')+'"]').show();
                }
            }
        });
        // 'all' => count($sites), 'init' => 0,'starting' => 0,'exporting' => 0,'running' => 0,'importing' => 0,'completed' => 0,'error' => 0
    });
</script>