{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">
    jQuery.fn.exists = function(){ return this.length > 0; }

    $(function() {
        var timeout = null;

        function setError(st) {
            $(st).removeClass('text-success text-info').addClass('text-danger').children('i').removeClass('fa-ellipsis-h fa-check').addClass('fa-times');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaved(st) {
            $(st).removeClass('text-success text-info').addClass('text-success').children('i').removeClass('fa-ellipsis-h fa-times').addClass('fa-check');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaving(st) {
            $(st).removeClass('text-success text-danger').addClass('text-info').children('i').removeClass('fa-times fa-check').addClass('fa-ellipsis-h');
        }

        function hideHelp() {
            clearTimeout(timeout);
            $('#info').hide();
        }

        function showError(a) {
            $('#' + a).html('<i class="fa fa-exclamation"></i> Error').addClass('disabled').attr('disabled', true);
            $('#message').html('<p class="bg-danger">An error occurred while performing this action, please contact <a href="mailto:help@vula.uct.ac.za?subject=Vula - Please help with: Lecture Recording Setup">help@vula.uct.ac.za</a><br/> or call 021-650-5500 weekdays 8:30 - 17:00.</p>');
        }

        function doPost(a, text) {
            $('#' + a).html('<i class="fa fa-cog fa-spin"></i>' + text).addClass('disabled').attr('disabled', true);
            timeout = setTimeout(function(){ $('#info').show(); }, 300);

            var sites = $('#add_sites').val().split(/\r?\n/g);

            var data = { 
                "type": 'add_sites',
                "sites": sites
            }

            var jqxhr = $.post('{{ $submit }}', data, function(result) {
                hideHelp();
                if (result.success === 1) {
                    $('#' + a).html('<i class="fa fa-check"></i> Refreshing page ...');
                    setTimeout(function() { location.reload(); }, 300);
                } else {
                    showError(a);
                }
            }, 'json')
            .fail(function() {
                hideHelp();
                showError(a);
            })
            .always(function() {
                hideHelp();
            });
        }

        function getworkflow(site) {
            var jqxhr = $.getJSON('{{ $fetch_workflow }}', {'type' : 'workflow', 'site' : site }, function(result) {
                if (result.success === 1) {
                    $('.pre').html(result.msg.join("<br/>"));
                } else {
                    $('.pre').html("Could not load workflow for site.");
                }
            })
            .fail(function() {
                $('.pre').html("Could not load workflow for site.");
            });
        }


        $('#btnAccept').click( function(event) {
            event.preventDefault();
            doPost('btnAccept', 'Adding sites ...');
        });

        $('#sites').on('click', 'a.site', function(event) {
            event.preventDefault();
            let _me = $(this);
            $('.pre').html("Loading ("+ (_me.data('title') ? _me.data('title') +" : " : "" ) + _me.attr('rel') +") ...");
            getworkflow(_me.attr('rel'));
        });
        
    });
</script>