{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">
    jQuery.fn.exists = function(){ return this.length > 0; }

    $(function() {
        var timeout = null;

        function setError(st) {
            $(st).removeClass('text-success text-info').addClass('text-danger').children('i').removeClass('fa-ellipsis-h fa-check').addClass('fa-times');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaved(st) {
            $(st).removeClass('text-success text-info').addClass('text-success').children('i').removeClass('fa-ellipsis-h fa-times').addClass('fa-check');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaving(st) {
            $(st).removeClass('text-success text-danger').addClass('text-info').children('i').removeClass('fa-times fa-check').addClass('fa-ellipsis-h');
        }

        function hideHelp() {
            clearTimeout(timeout);
            $('#info').hide();
        }

        function showError(a) {
            $('#' + a).html('<i class="fa fa-exclamation"></i> Error').addClass('disabled').attr('disabled', true);
            $('#message').html('<p class="bg-danger">An error occurred while performing this action, please contact <a href="mailto:help@vula.uct.ac.za?subject=Vula - Please help with: Lecture Recording Setup">help@vula.uct.ac.za</a><br/> or call 021-650-5500 weekdays 8:30 - 17:00.</p>');
        }

        function check_if_im_in_notification(add_me) {
            const _el = $('#btn_add_me'),
                  _state = $('#state').val(),
                  _email = $('#current_user').val(),
                  _email_starter = $('#organizer').data('email'),
                  _notification = $('#notifications').val().trim().replace(/\r?\n/g, ', ').split(';');
            
            if (_email === _email_starter) return;

            let in_list = _notification.includes(_email);      

            if ((in_list === false) && (_state !== 'init')) {
                _el.show();
                console.log(`showing ${add_me}`);
                if (add_me) {
                    try {
                        console.log(`adding ${_email}`);
                        $('#notifications')[0].insert(_email);
                    } catch (e) {
                        console.log(e);
                    }
                }
            } else {
                _el.hide();
            }
        }

        function migrateSite(a, type, alt) {
            var organizer = $('#organizer').val().trim().replace(/\r?\n/g, ', ');
            var notification = $('#'+ alt).val().trim().replace(/\r?\n/g, ', ');

            var data = { 
                "type": type,
                "organizer": (organizer.endsWith(', ') ? organizer.substring(0, organizer.length-2) : organizer),
                "notification": (notification.endsWith(', ') ? notification.substring(0, notification.length-2) : notification)
            }

            var jqxhr = $.post('{{ $submit }}', data, function(result) {
                hideHelp();
                if (result.success === 1) {
                    $('#' + a).html('<i class="fa fa-check"></i> Refreshing page ...');
                    setTimeout(function() { location.reload(); }, 300);
                } else {
                    showError(a);
                }
            }, 'json')
            .fail(function() {
                hideHelp();
                showError(a);
            })
            .always(function() {
                hideHelp();
            });
        }

        if ($('#notifications').exists()) {
            $("#notifications").on('change', function(event) {
                var i = $(this).val();
                if (i != tmp_inp) {
                    tmp_inp = i;
                    setSaving('label[for=notifications]');
                    check_if_im_in_notification(false);

                    var notification = $('#notifications').val().trim().replace(/\r?\n/g, ', ');
                    var data = { 
                        "type": "updating",
                        "notification": (notification.endsWith(', ') ? notification.substring(0, notification.length-2) : notification)
                    }

                    $.ajax({
                        url: '{{ $submit }}',
                        method: 'POST',
                        data: data,
                        dataType: 'json'
                    }).done(function(data) {
                        if (!data.success) {
                            console.log(data);
                            console.log("Could not save email");
                            setError('label[for=notifications]');
                        } else {
                            setSaved('label[for=notifications]');
                        }
                    }).fail(function(xhr) {
                        console.log(xhr);
                        setError('label[for=notifications]');
                    });
                }
            }).email_multiple({ data: $('#notifications').val().split(';'), inputPlaceholder: $('#notifications').attr('placeholder') });
            tmp_inp = $('#notifications').val();

            $("#btn_add_me").click( function(event) {
                event.preventDefault();
                check_if_im_in_notification(true);
            });
            check_if_im_in_notification(false);
        }
        
        $('#year').on('change', function(event){
            const _y = $('#year_selected');
            console.log($('#year').val());
            _y.html( $('#year').val() == 0 ? _y.data('empty') : _y.data('full'))
        })

        $('#restart_wrokflow').on('click', function(event) {
            event.preventDefault();
            const _me = $(this);

            migrateSite(_me.attr('id'), 'init', 'notifications_hidden');
        });

        $('#btn_option1, #btn_option2').click( function(event) {
            event.preventDefault();
            const _me = $(this);
    
            _me.html('<i class="fa fa-cog fa-spin"></i>Starting process...').addClass('disabled').attr('disabled', true);
            timeout = setTimeout(function(){ $('#info').show(); }, 300);

            switch(_me.data('path')){
                case 'a':
                    $('#option-b').hide();
                    migrateSite(_me.attr('id'), 'init', 'notifications');
                    break;
                case 'b':
                    $('#option-a').hide();
                    migrateSite(_me.attr('id'), 'site', 'notifications');
                    break;    
            }
        });
    });
</script>