<section>
    <h1>Vula <span>to</span> Amathuba</h1>

    <!-- <pre>|{{ json_encode($provider_details) }}|</pre> -->

    {% if ($state == "init") { %}
    <form class="form-inline text-left needs-validation" method="post" target="_self" id="metadata"> 
        <input type="hidden" name="state"  id="state" value="{{ $state }}"/>           
        <div class="row">
            <div class="col-xs-12">
                <h3>You're about to migrate your course to Amathuba!</h3>              
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h4>What will transfer from Vula to Amathuba in the conversion process?</h4>
                <ul style="margin-left: 60px;">                
                    <li>Announcements</li>
                    <li>Assignments</li>
                    <li>Discussions</li>
                    <li>Gradebook</li>
                    <li>Lessons</li>
                    <li>Resources</li>
                    <li>Rubrics</li>
                    <li>Tests & Quizzes</li>
                </ul>
            </div>
        </div>
        
        <div class="row" style="margin-top: 1em;">
            <div class="col-md-9 col-xs-offset-1">
                <label for="provider">My Site: <span id="site-title">{{ $title }}</span></label>
                {%  $full = 'is the year for this course in Amathuba.';
                    $empty = 'that you will be teaching this course on Amathuba.';

                    if (count($provider_details) == 0) { %}
                    <div class="row">
                        <div class="col-xs-12">
                            <select class="form-control" name="provider_select" id="provider_select" style="width: 420px" required>
                                {% if ($current_dept == '') { %}
                                <option selected data-type="default" value="">Please select a department</option>
                                {% } 
                                    foreach ($departments as $el) {
                                        $str = $el[1] ." - ". $el[2];
                                        $selected = ($current_dept == $el[0] ? 'selected' : '');
                                        print "<option value=\"". $el[0] ."\" ". $selected .">". $str ."</option>";
                                    }
                                %}
                            </select>
                            <!-- <span>Additional course codes can be added later</span> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                {% } else { %}
                    <div class="row">
                        {% if (count($provider_details) == 1) { $el = $provider_details[0]; %}
                            <div class="col-xs-2" style="padding: 0px;">
                                <input type="text" name="provider" id="provider"
                                    data-full="{{ $el['full'] }}"
                                    data-dept="{{ $el['dept'] }}"
                                    data-year="{{ $el['year'] }}"
                                    data-period="{{ $el['period'] }}"
                                    data-term="{{ $el['term'] }}"
                                    value="{{ $el['dept'] }}{{ $el['year'] }}{{ $el['no'] }}{{ $el['period'] }}" class="form-control disabled" disabled
                                    style="width: 100%; text-align: center;"/>
                            </div>
                            <div class="col-xs-10">
                        {% } else { %}
                        <div class="row">
                            <div class="col-xs-10">
                                <select class="form-control" name="provider" id="provider" style="width: 320px" required>
                                    {% if ($current_provider == '') { %}
                                    <option selected data-type="default" value="">Please select the primary course code...</option>
                                    {% } 
                                        foreach ($provider_details as $el) {
                                            $str = $el['dept'] . $el['year'] . $el['no'] . $el['period'];
                                            $selected = ($current_provider == $str ? 'selected' : '');
                                            print "<option data-dept=\"". $el['dept'] ."\" value=\"". $str ."\" ". $selected.">". $str ."</option>";
                                        }
                                    %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                        {% } %}
                {% } %}
                        <select id="year" name="year" class="form-control" style="width: 180px; text-align: center;" required>
                            {% if ($current_term  <= 2000) { %}
                            <option selected value="" data-type="default" >Please select a year </option>
                            {% }
                            foreach ($years as $val) { $selected = ($current_term == $val ? 'selected' : ''); %}
                                <option value="{{$val}}" {{$selected}}>{{$val}}</option>
                            {% } %}
                        </select>
                        <span id="year_selected" style="padding-left: 6px;" data-full="{{ $full }}" data-empty="{{ $empty }}">
                            {{ $empty }} <i class="fas fa-question-circle" title="Subject to Faculty approval."></i>
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" style="margin-top: 1em;">
            <div class="col-md-9 col-xs-offset-1">
                <label for="organizer">My Email</label>
                <input type="hidden" name="current_user"  id="current_user" value="{{ $current_email }}"/>
                {% 
                    $value = $email != '' ? $name .' <'. $email .'>' : ''; 
                %}
                <input type="text" name="organizer" id="organizer" disabled="true" class="form-control disabled" 
                        value="{{ $value }}" data-email="{{ $email }}"/>
            </div>
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col-md-9 col-xs-offset-1">
                <label for="notifications">Email Notifications <small>(Will also receive progress and final report)</small></label>
                <textarea class="form-control" name="notifications" 
                            id="notifications" 
                            placeholder="Additional addresses to notify of this migration">{{ $notifications }}</textarea>
                <button type="button" id="btn_add_me" style="display:none;">Add Me</button>
            </div>
        </div>
        <div class="row">            
            <div class="col-md-9 col-xs-offset-1">
                <!-- <h4>Choose an option:</h4> -->
                <!-- <div class="col-xs-offset-1" id="option-a"> -->
                    <button id="btn_option1" class="btn btn-success" type="button" data-path="a">
                        <i class="fa fa-check"></i>
                        Yes, <small>I want to run the conversion process ...</small>
                    </button>
                <!-- </div> -->
                <!-- <div class="col-xs-offset-1" id="option-b">
                    <button id="btn_option2" class="btn btn-default" type="button" data-path="b" style="margin-bottom: 0px;">
                        No thanks, <small>I want to start from scratch in Amathuba</small>
                    </button>
                    <br/>
                    <i>I don't need any of my Vula content converted, and only want a course site.</i>
                </div> -->
                <!-- <div class="col-xs-offset-1"> -->
                    <small id="info" class="text-info" style="display:none;">This might take a couple of seconds.</small>
                <!-- </div> -->
            </div>
        </div>
    </form>
    {% } elseif (in_array($state, ['starting','exporting','running','importing','error'])) { %} 
        <input type="hidden" name="provider" id="provider" data-dept="{{$current_dept}}" value="{{$current_provider}}"/>
        <input type="hidden" name="year" id="year" value="{{$current_term}}"/>

        <div class="row">
            <div class="col-md-8">
                <ul>                
                    <li>You have successfully initiated the migration process </li>
                    <li>The duration of the process depends on the size of your Resources folder in Vula.</li>
                    <li>You will receive a confirmation email once the conversion is complete.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <button id="show-report" type="button" class="btn btn-primary" data-toggle="modal" data-target="#reportModal">
                    <i class="far fa-file-alt"></i> View Conversion Report
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-11">
                <div class="migrate-progress workflow {{ $state }}">
                    <div class="vula" >
                        <div>
                            <div class="title">
                                <strong>Starting</strong>
                                Schedule Migration
                            </div>
                            <div class="desc">
                                {% if (in_array($state,['starting'])) { %}
                                    The site is scheduled to be exported, you will be <i>notified</i> when it starts.
                                {% } else { %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% } %}
                            </div>
                        </div>
                        <div {% if ($state == 'starting') { %}class="disabled"{% } %}>
                            <div class="title">
                                <strong>Exporting</strong>
                                Vula Course Site
                            </div>
                            <div class="desc">
                                {% if (in_array($state,['starting','exporting'])) { %}
                                    Course content is exported into a package that will be processed and imported.
                                {% } else { %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% } %}
                            </div>
                        </div>
                        <div {% if ($state == 'error') { %}class="error"{% } %}
                            {% if (in_array($state,['starting','exporting'])) { %}class="disabled"{% } %}>
                            <div class="title">
                                {% if ($state == 'error') { %}
                                    <i class="fas fa-exclamation"></i>
                                    <strong>Error</strong>    
                                {% } else { %}
                                <strong>Running</strong>
                                Conversion Workflow
                                {% } %}
                            </div>
                            <div class="desc">
                                {% if ($state == 'error') { %}
                                    There was an error in converting this site, the <strong>Administrator</strong> has been notified.
                                {% } elseif (in_array($state,['starting','exporting','running'])) { %}
                                    Running some conversion steps to make sure we import the content from the course site correctly.
                                {% } else { %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% } %}
                            </div>
                        </div>
                    </div>
                    <div class="amathuba">
                        <div {% if (in_array($state,['starting','exporting','running','error'])) { %}class="disabled"{% } %}>
                            <div class="title">
                                <strong>Importing</strong>
                                To Auto-converted Site
                            </div>
                            <div class="desc">
                                {% if (in_array($state,['starting','exporting','running','importing','error'])) { %}
                                    Importing content into the auto-converted site.
                                {% } else { %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    {% } elseif (in_array($state, ['completed'])) { %} 
        <div class="row">
            <div class="col-xs-12 col-lg-11">
                <div class="migrate-progress {{ $state }}">
                    <div class="vula">
                        <div data-step="1">
                            <div class="title">
                                <strong>Convert</strong>
                                Vula Course Site
                            </div>
                            <div class="desc">
                                <a href="#">
                                    <i class="far fa-file-alt"></i>
                                    <span>Review the conversion report for remediation steps</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="amathuba">
                        <div data-step="2" style="grid-area: 1 / 1 / 2 / 2;">
                            <div class="title">
                                <strong>Copy</strong>
                                Auto-converted Site
                            </div>
                            <div class="desc">
                                Staff go to the new course site and <br/>copy the content from the reference site to the course site
                            </div>
                        </div>
                        <div data-step="3" style="grid-area: 1 / 2 / 2 / 3;">
                            <div class="title">
                                <strong>Revise</strong>
                                New Course Site
                            </div>
                            <div class="desc">
                                Staff review & update content
                            </div>
                        </div>
                        <div data-step="4" style="grid-area: 1 / 3 / 2 / 4;">
                            <div class="title">
                                <strong>Ready</strong>
                                for Teaching
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    {% } %}
    <div class="row">
        <div class="col-xs-12 col-lg-11 footer">
            If you need help, consult the 
            <a href="http://www.cilt.uct.ac.za/cilt/amathuba" title="Amathuba : Support" target="_blank"/>help documentation</a> 
            or contact 
            <a href="mailto:help@vula.uct.ac.za?subject=Amathuba%20Conversion%3A%20{{ htmlentities($title) }}&body=Hi%20Support%20Team%2C%0D%0A%0D%0APlease%20help%20me%20with%20the%20migration%20of%20my%20site%3A%20{{ htmlentities($title) }}%20({{ htmlentities($site_id) }})%0D%0A%0D%0AThanks%20%3A)" title="Send help email">help@vula.uct.ac.za</a>.
        </div>
    </div>

    {% if (in_array($state, ['starting','exporting','running','importing','error'])) { %}
    <div class="row">
        <div class="col-xs-12 col-lg-11 workflow">
            <h4>
                Progress <span>({{ $state }})</span>
                
                <a id="restart_wrokflow" class="btn btn-default btn-xs" href="#" 
                    role="button" style="float: right; z-index: 1000;" title="Re-submit workflow ..." rel="{{ $site_id }}" data-title="{{ $title }}">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </h4>

            <input type="hidden" name="organizer" id="organizer" value="{{ $name }} <{{ $email }}>"/>
            <input type="hidden" name="notifications_hidden" id="notifications_hidden" value="{{ $notifications }}"/>

            {% $output = '';
            if (gettype($workflow) === 'array') { 
                $ouput = join("<br/>",$workflow);
            } %}
            <div id="pre">{{ $ouput }}</div>
        </div>
    </div>
    {% } %}

    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel" style="display: inline-block;">Conversion Report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding:0px;">
                    <iframe id="reportModal-iframe" src="{{$fetch_report}}" style="width:100%; height: 420px;border:0px;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>