<section>
    <!-- <pre>|{{ json_encode($provider_details) }}|</pre> -->
    
    {% if ($state == "init") { %}
        <h2 class="tool-header">Conversion Setup</h2>
        <blockquote>Choose how you would like this site converted to Amathuba</blockquote>
        <div class="row">
            <div class="col-md-8">
                <form class="needs-validation form-horizontal"  id="metadata">
                    <input type="hidden" name="state"  id="state" value="{{ $state }}" />
                    <input type="hidden" name="site-title" id="site-title" value="{{ $title }}" />
                    <input type="hidden" name="current_user"  id="current_user" value="{{ $current_email }}" />
            
                    <div class="form-group">
                        <div class="col-md-5">
                            <!--label class="custom-control overflow-checkbox">
                                <input id="if_course" type="checkbox" class="overflow-control-input" checked="">
                                <span class="overflow-control-indicator"></span>
                                <span class="overflow-control-description">Create a new Amathuba site for teaching</span>
                            </label-->
                            <label>Create a new Amathuba site for teaching</label>
                        </div>
                        <div class="col-md-7">
                            <input id="if_course" type="checkbox" class="overflow-control-input" checked="" />
                        {% if (count($provider_details) == 0) { %}
                            <select class="form-control" name="provider_select" id="provider_select" style="width: 420px" required>
                            {% if ($current_dept == '') { %}
                                <option selected data-type="default" value="">Please select a department</option>
                            {% }
                                foreach ($departments as $el) {
                                    $str = $el[1] ." - ". $el[2];
                                    $selected = ($current_dept == $el[0] ? 'selected' : '');
                                    print "<option value=\"". $el[0] ."\" ". $selected .">". $str ."</option>";
                                }
                            %}
                            </select>
                        {% } else { %}
                            {% if (count($provider_details) == 1) { $el = $provider_details[0]; %}
                                <input type="hidden" name="provider" id="provider"
                                    data-full="{{ $el['full'] }}"
                                    data-dept="{{ $el['dept'] }}"
                                    data-year="{{ $el['year'] }}"
                                    data-period="{{ $el['period'] }}"
                                    data-term="{{ $el['term'] }}"
                                    value="{{ $el['dept'] }}{{ $el['year'] }}{{ $el['no'] }}{{ $el['period'] }}" class="form-control disabled" disabled
                                    style="width: 100%;"/>
                                <span>{{ $el['dept'] }}{{ $el['year'] }}{{ $el['no'] }}{{ $el['period'] }}</span>
                            {% } else { %}
                                <select class="form-control" name="provider" id="provider" style="width: 320px" required>
                                    {% if ($current_provider == '') { %}
                                    <!--<option selected data-type="default" value="">Please select the primary course code...</option>-->
                                    {% }
                                        foreach ($provider_details as $el) {
                                            $str = $el['dept'] . $el['year'] . $el['no'] . $el['period'];
                                            $selected = ($current_provider == $str ? 'selected' : '');
                                            print "<option data-dept=\"". $el['dept'] ."\" value=\"". $str ."\" ". $selected.">". $str ."</option>";
                                        }
                                    %}
                                </select>
                            {% } %}
                        {% } %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label>
                                Year in which this course will be taught on Amathuba 
                                <i class="fas fa-question-circle" title="Subject to Faculty approval."></i>
                            </label>
                        </div>
                        <div class="col-md-7">
                            <select id="year" name="year" class="form-control" style="width: 180px; text-align: center;" required>
                                {%  foreach ($years as $val) { $selected = ($current_term == $val ? 'selected' : ''); %}
                                    <option value="{{$val}}" {{$selected}}>{{$val}}</option>
                                {% } %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="notifications">Email Notifications <br/><small>(Will also receive progress and final report)</small></label>
                        </div>
                        <div class="col-md-7">
                            <span class="multi-item" value="{{ $current_email }}"> {{ $current_email }}</span>
                            <textarea class="form-control" name="notifications" id="notifications" 
                                placeholder="Additional addresses to notify of this migration">{{ $notifications }}</textarea>
                            <button type="button" id="btn_add_me" style="display:none;">Add Me</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
                            <button id="btn_option1" class="btn btn-success" type="button" data-path="a" >
                                Start Conversion
                            </button>
                            <small id="info" class="text-info" style="display:none;">This might take a couple of seconds.</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% } elseif (in_array($state, ['starting','exporting','running','uploading','importing','error','updating','completed'])) { %} 
        <input type="hidden" name="provider" id="provider" data-dept="{{$current_dept}}" value="{{$current_provider}}"/>
        <input type="hidden" name="year" id="year" value="{{$current_term}}"/>

        <ul class="steps">
            <li class="step" data-step="1" id="step1">Starting</li>
            <li class="step" data-step="2" id="step2">Exporting</li>
            <li class="step" data-step="3" id="step3">Running</li>
            <li class="step" data-step="4" id="step4">Uploading</li>
            <li class="step" data-step="5" id="step5">Importing</li>
            <li class="step" data-step="6" id="step6">Updating</li>
            <li class="step" data-step="7" id="step7">Completed</li>
        </ul>
    
        <div class="row">
	        <h3><strong>State: </strong> {{ $state }}</h3>
            <div class="col-md-8">
                <ul>                
                    <li>You have successfully initiated the migration process </li>
                    <li>The duration of the process depends on the size of your Resources folder in Vula.</li>
                    <li>You will receive a confirmation email once the conversion is complete.</li>
                </ul>
            </div>
            <div class="col-md-4">
                {% if ($has_report) { %}
		            <a id="show-report" type="button" class="btn btn-primary" href="{{ $report_url }}" target="_blank">
                        <i class="far fa-file-alt"></i> View Conversion Report
                    </a>
                {% } %}
            </div>
        </div>       
    {% } %}
    <div class="row">
        <div class="col-md-8">
            Need more help or advice? Consult the
            <a href="http://www.cilt.uct.ac.za/cilt/amathuba" title="Amathuba : Support" target="_blank"/>help documentation</a>
            or contact
            <a href="mailto:help@vula.uct.ac.za?subject=Amathuba%20Conversion%3A%20{{ htmlentities($title) }}&body=Hi%20Support%20Team%2C%0D%0A%0D%0APlease%20help%20me%20with%20the%20migration%20of%20my%20site%3A%20{{ htmlentities($title) }}%20({{ htmlentities($site_id) }})%0D%0A%0D%0AThanks%20%3A)" title="Send help email">help@vula.uct.ac.za</a>.
        </div>
    </div>
</section>
