{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">
    jQuery.fn.exists = function(){ return this.length > 0; }

    $(function() {
	var state = '{{ $state }}';
	var timeout = null;

	if(state == 'queued') { 
            state = 'uploading';
	}

	if(state != 'completed' || state != 'error') {
	    setTimeout("window.open(self.location, '_self');", 30000);
	}

	const state_array = ['starting', 'exporting', 'running', 'uploading', 'importing', 'updating', 'completed'];
        setStateClass(state);

        function setError(st) {
            $(st).removeClass('text-success text-info').addClass('text-danger').children('i').removeClass('fa-ellipsis-h fa-check').addClass('fa-times');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaved(st) {
            $(st).removeClass('text-success text-info').addClass('').children('i').removeClass('fa-ellipsis-h fa-times').addClass('fa-check');
            $(st).delay(10000).queue(function(){
                $(this).removeClass('text-success text-info text-danger').children('i').removeClass('fa-ellipsis-h fa-check fa-times');
            });
        }

        function setSaving(st) {
            $(st).removeClass('text-success text-danger').addClass('text-info').children('i').removeClass('fa-times fa-check').addClass('fa-ellipsis-h');
        }

        function hideHelp() {
            clearTimeout(timeout);
            $('#info').hide();
        }

        function showError(a) {
            $('#' + a).html('<i class="fa fa-exclamation"></i> Error').addClass('disabled').attr('disabled', true);
            $('#message').html('<p class="bg-danger">An error occurred while performing this action, please contact <a href="mailto:help@vula.uct.ac.za?subject=Vula - Please help with: Lecture Recording Setup">help@vula.uct.ac.za</a><br/> or call 021-650-5500 weekdays 8:30 - 17:00.</p>');
        }

        function check_if_im_in_notification(add_me) {
            const _el = $('#btn_add_me'),
                  _state = $('#state').val(),
                  _email = $('#current_user').val(),
                  _email_starter = $('#organizer').data('email'),
                  _notification = $('#notifications').val().trim().replace(/\r?\n/g, ', ').split(';');
            
            if (_email === _email_starter) return;

            let in_list = _notification.includes(_email);      

            if ((in_list === false) && (_state !== 'init')) {
                _el.show();
                console.log(`showing ${add_me}`);
                if (add_me) {
                    try {
                        console.log(`adding ${_email}`);
                        $('#notifications')[0].insert(_email);
                    } catch (e) {
                        console.log(e);
                    }
                }
            } else {
                _el.hide();
            }
        }

        function migrateSite(a, type, alt) {
            const organizer = $('#organizer').exists() ? $('#organizer').val().trim().replace(/\r?\n/g, ', ') : '',
                  notification = $('#'+ alt).exists() ?  $('#'+ alt).val().trim().replace(/\r?\n/g, ', ') : '',
                  _provider = $('#provider').exists() ? $('#provider') : undefined, 
                  _provider_select = $('#provider_select').exists() ? $('#provider_select') : undefined;
            
            let provider = _provider ? _provider.val() : '',
                dept = _provider ? 
                            (_provider.prop('nodeName') == 'SELECT' ? _provider.find('option:selected').data('dept') : _provider.data('dept'))
                            : (_provider_select ? _provider_select.val() : $('#dept').exists() ? $('#dept').val() : ''),
                term = $('#year').exists ? $('#year').val() : (new Date()).getFullYear(),
                create_course_offering = $('#if_course').exists() ? ($('#if_course').is(':checked')?1:0) : $('#create_course_offering').val()
                
            var data = { 
                "type": type,
                "title": "{{ $title }}",
                "organizer": (organizer.endsWith(', ') ? organizer.substring(0, organizer.length-2) : organizer),
                "notification": (notification.endsWith(', ') ? notification.substring(0, notification.length-2) : notification),
                "provider": provider == '' ? `${dept}00${term.slice(-2)}` : provider,
                "dept": dept,
                "term": term,
                "create_course": create_course_offering
            }

            // console.log(data);
            var jqxhr = $.post('{{ $submit }}', data, function(result) {
                hideHelp();
                if (result.success === 1) {
                    $('#' + a).html('<i class="fa fa-check"></i> Refreshing page ...');
                    setTimeout(function() { location.reload(); }, 300);
                } else {
                    showError(a);
                }
            }, 'json')
            .fail(function() {
                hideHelp();
                showError(a);
            })
            .always(function() {
                hideHelp();
            });
        }

        function can_submit() {
            const _dept = $('#provider_select'),
                  _provider = $('#provider'),
                  _term = $('#year'),
                  _check = $('#if_course'),
                  _btn = $('#btn_option1'),
			        valid = !_check.is(':checked') ||
			            ((_dept.exists() ? _dept.val() != 0 : true) &&
                            (_provider.exists() ? _provider.val() != 0 : true) &&
                            (_term.exists() ? _term.val() != 0 : true));

            if (valid) {
                _btn.removeClass('disabled').removeAttr('disabled');
            } else {
                _btn.addClass('disabled').attr('disabled', 'true');
            }
        }
    
        function setStateClass(state) {
            let _current_step = state_array.indexOf(state) + 1;
	    if(state == 'queued') {
                   state = 'uploading';
		   $(`#step${_current_step}`).addClass("is-active").removeClass('is-pending');
	    }

            // all is pending
            $(".steps > .step").addClass("is-pending").removeClass('is-active is-complete');
            // set the current step
            $(`#step${_current_step}`).addClass("is-active").removeClass('is-pending');
            // set completed
            $(".steps > .step").filter(function() { return $(this).data("step") < _current_step; }).addClass("is-complete").removeClass('is-pending');
        }

        $('#year, #provider, #provider_select').on("change", function(event) {
            if ($(this).val != '') {
                $(this).find('option[data-type=default]').remove();
            }
            can_submit();
        });

        $('#if_course').on("change", function(event) {
            if ($(this).is(':checked')) {
                $('#do_course').show();
	        $('#course_year ,#course_year_text').show();
            } else {
		$('#course_year ,#course_year_text').hide();
                $('#do_course').hide();
            }
            can_submit();
        });

        $("#metadata").validate({
            rules: {
                provider_select : { required: true },
                provider : { required: true },
                year : { required: true }
            }
        });

        if ($('#notifications').exists()) {
            $("#notifications").on('change', function(event) {
                var i = $(this).val();
                if (i != tmp_inp) {
                    tmp_inp = i;
                    setSaving('label[for=notifications]');
                    check_if_im_in_notification(false);

                    var notification = $('#notifications').val().trim().replace(/\r?\n/g, ', ');
                    var data = { 
                        "type": "updating",
                        "notification": (notification.endsWith(', ') ? notification.substring(0, notification.length-2) : notification),
                        "term": $('#year').val()
                    }

                    $.ajax({
                        url: '{{ $submit }}',
                        method: 'POST',
                        data: data,
                        dataType: 'json'
                    }).done(function(data) {
                        if (!data.success) {
                            console.log(data);
                            console.log("Could not save email");
                            setError('label[for=notifications]');
                        } else {
                            setSaved('label[for=notifications]');
                        }
                    }).fail(function(xhr) {
                        console.log(xhr);
                        setError('label[for=notifications]');
                    });
                }
            }).email_multiple({ data: $('#notifications').val().split(';'), inputPlaceholder: $('#notifications').attr('placeholder') });
            tmp_inp = $('#notifications').val();

            $("#btn_add_me").click( function(event) {
                event.preventDefault();
                check_if_im_in_notification(true);
            });
            check_if_im_in_notification(false);
        }
        
        $('#year').on('change', function(event){
            const _y = $('#year_selected');
            _y.html( $('#year').val() == 0 ? _y.data('empty') : _y.data('full') + '<i class="fas fa-question-circle" title="Subject to Faculty approval."></i>');
        })

        $('#restart_workflow').on('click', function(event) {
            event.preventDefault();
            const _me = $(this);

            migrateSite(_me.attr('id'), 'init', 'notifications_hidden');
        });

        
        $('#btn_option1, #btn_option2').click( function(event) {
            event.preventDefault();
            const _me = $(this);
    
            if ($("#metadata").valid()) {
                _me.html('<i class="fa fa-cog fa-spin"></i>Starting process...').addClass('disabled').attr('disabled', true);
                timeout = setTimeout(function(){ $('#info').show(); }, 300);

                switch(_me.data('path')){
                    case 'a':
                        $('#option-b').hide();
                        migrateSite(_me.attr('id'), 'init', 'notifications');
                        break;
                    case 'b':
                        $('#option-a').hide();
                        migrateSite(_me.attr('id'), 'site', 'notifications');
                        break;    
                }
            }
        });
    });
</script>
